.pointColor1{
    color: #2EB3D1;
}

.pointColor2{
    color: #95C2CC;
}

.pointColor3{
    color: #FF6652;
}

.pointColor1Bg{
    background-color: #2EB3D1;
}

.pointColor2Bg{
    background-color: #95C2CC;
}

.pointColor3Bg{
    background-color: #FF6652;
}

.box-1{
    width: 100%;
}

.box-1_5{
    width: 75%!important;
}


.box-2{
    width: 50%;
}

.box-3{
    width: 33.3%;
}

.box-4{
    width: 25% !important;
}

.width30{
    width: 30%;
}

.width50{
    width: 50%;
}

.width70{
    width: 70% !important;
}

.width100{
    width: 100%!important;
}

.width200{
    width: 200%!important;
}

.alignItemsCenter{
    align-items: center;
}

.textAlignLeft{
    text-align: left!important;
}

.marginTop15{
    margin-top: 15px;
}

.marginTop30{
    margin-top: 30px;
}

.marginRight30{
    margin-right: 30px;
}

.marginBottom15{
    margin-bottom: 15px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.paddingHorizontal20{
    padding: 0 20px;
}

.table-divide-6{
    width: 16.6%;
}

.justifyContentFlexStart{
    justify-content: flex-start!important;
}

.fontSize16{
    font-size: 16px!important;
}